<nav>
  <%= link_to t("bicycle.page.index"), bicycle_pages_path, class: "button" %><%= link_to t("bicycle.page.new"), new_bicycle_page_path, class: "button" %><%= link_to t("bicycle.image.regenerate.start"), bicycle_images_regenerate_path, class: "button" %>
</nav>