<h1><%= t("bicycle.image.edit") %></h1>

<%= render "form", image: @image %>

<p><%= button_to t("bicycle.image.destroy"), [:bicycle, @page, @image], method: :delete, class: "no" %></p>

<p><%= link_to t("bicycle.image.cancel"), edit_bicycle_page_path(@page), class: "button no" %></p>

