<h1>Editing page</h1>

<%= render "form", page: @page %>

<%= button_to "Destroy this page", [:helm, @page], method: :delete %>

<% @page.images.each do |image| %>
  <%= image_tag url_for(image.image_file.variant(resize_to_limit: [100, nil])) %>
<% end %>

<%= link_to "New image", new_helm_page_image_path(@page) %>