
<% cache page.children do %>
  <section class="child_pages">
    <h2><%= t("page.children") %></h2>
    <nav>
      <%= render partial: "child_page", collection: page.children.live, as: :child, cached: true %>
    </nav>
  </section>
<% end %>