
<% cache page.children do %>
  <section id="child_pages">
    <h2><%= t("page.children") %></h2>
    <nav>
      <% page.children.live.each do |child| %>
        <%= render partial: "child_page", locals: {child: child} %>
      <% end %>
    </nav>
  </section>
<% end %>