<% # TODO: handle keyboard focus without zooming (before pressing enter) %>
<figure class="<%= css_class %>">
    <button><%= thumbnail_image(image, version) %></button>
    <div class="zoom"><%= fullscreen_image(image) %></div>
    <figcaption><%= image.caption.html_safe %></figcaption>
</figure>

