
<section class="gallery">
  <h2><%= t("page.gallery") %></h2>
  <nav>
    <%= render partial: "pages/figure", collection: page.images.gallery, as: :image, locals: {page: page, size: 240, aspect: [1,1]}, cached: true %>
  </nav>
</section>