<%= link_to(page_image_path(page, image)) do %>
  <figure>
    <%= image_tag(url_for(image.image_file.variant(resize_to_fill: [240, 240])), alt: image.alt_text) %>
    <p class="date"><%= l(image.created_at, format: :short) %></p>
    <figcaption><%= image.caption %></figcaption>
  </figure>
<% end %>