
<section class="gallery">
  <h2><%= t("page.gallery") %></h2>
  <nav>
    <%= render partial: "pages/figure", collection: gallery, as: :image, locals: {page: page, version: "square", css_class: "square"}, cached: true %>
  </nav>
</section>