
<section id="gallery">
  <h2><%= t("page.gallery") %></h2>
  <nav>
    <% page.images.gallery.each do |image| %>
      <%= render partial: "gallery_image", locals: {page: page, image: image} %>
    <% end %>
  </nav>
</section>