$colour-bg: #1F2F43;
$colour-bg-alt: #17222D;
$colour-body-bg: darken($colour-bg,12%);
$colour-footer: #131920;
$colour-text: #C1BEB3;
$colour-edges: #000000;
$orange: #DC5B00;
$blue: #259CC8;
$green: #4ABB32;
$darker: #275461;
$gray: #58646B;

$nav-width: 18em;