$colour-bg: #091D33;
$colour-bg-alt: #030f1B;
$colour-body-bg: #020F17;
$colour-footer: #01070B;
$colour-text: #C1BEB3;
$colour-edges: #000000;
$orange: #DC5B00;
$blue: #259CC8;
$green: #4ABB32;
$darker: #275461;
$gray: #58646B;

$nav-width: 18em;