$colour-bg: #091D33;
$colour-bg-alt: #030F1B;
$colour-body-bg: #020F17;
$colour-footer: #01070B;
$colour-text: #C1BEB3;
$colour-edges: #000;
$colour-button-text: #000;
$colour-code-line: #C1BEB3;
$orange: #DC5B00;
$blue: #259CC8;
$green: #4ABB32;
$darker: #275461;
$gray: #58646B;
$white: #FFF;
$git-lang-ruby: #701516;
$git-lang-javascript: #F1E05A;
$git-lang-python: #3572A5;
$git-lang-html: #E34C26;
$git-lang-css: #563D7C;
$git-lang-scss: #C6538C;
$git-lang-c: #555;
$git-lang-cpp: #F34B7D;
$font-family-body: "Fira Sans", "fira", "Calibri", "Myriad", "Arial", "Helvetica", "sans-serif";
$font-family-heading: "Fira Sans Light", "fira-light", "Raleway", "Calibri", "Myriad", "Arial", "Helvetica", "sans-serif";
$font-family-code: "Fira Code", "fira-code", "Courier New", "Courier", "Monospace";
$text-shadow-colour: rgba(0, 0, 0, .25);
$shadow-colour: rgba(0, 0, 0, .8);
$modal-bg-colour: rgba(0, 0, 0, .9);
$nav-width: 16em;
