@use "global" as *;

@media (min-width: 1400px) {
    body {
    font-size: 120%;
    }
}
@media (min-width: 1600px) {
    body {
    font-size: 130%;
    }
}
@media (max-width: 900px) {
    body:not(.fullscreen) > header h1 {
    margin-top: 1px;
    margin-left: 1.5em;
    }
    body > header h2 {
    display: none;
    }
    body.bicycle article h1 {
    margin-left: 1em;
    }

    main > nav {
    position: fixed;
    float: none;
    top: .45em;
    left: .5em;
    width: 90%;
    max-width: min-content;
    z-index: 2;
    }
        main > nav button#menu {
        display: block;
        width: 2em;
        height: 2em;
        padding: 0;
        box-shadow: 2px 2px 2px 0 $shadow-colour;
        }
            main > nav button#menu svg {
            fill: currentColor;
            shape-rendering: crispEdges;
            }
        main > nav > div {
        display: none;
        position: fixed;
        min-height: min-content;
        margin-top: .5em;
        padding-top: .5em;
        border: none;
        box-shadow: .5em .5em .5em 0 $shadow-colour;
        // TODO: why did tabbing into the opened menu stop working?
        }
            main > nav:focus-within > div {
            display: block;
            }

    main > article {
    margin-left: 0;
    padding: 0 .5em;
    border: none;
    }
        article > header {
        padding-bottom: .5em;
        }
        article > figure.lscp button img, article > figure.square button img {
        width: 200px;
        }
        article > figure.port button img {
        height: 200px;
        }
    article section#child_pages nav, article section#gallery nav {
    grid-column-gap: .5em;
    }

    p.notice, p.alert {
    position: fixed;
    top: .5em;
    left: 3em;
    right: .5em;
    margin: 0;
    border-radius: .2em;
    }
}
