body > header h1 {
margin-left: 1.5em;
}
body.helm article h1 {
margin-left: 1em;
}

body > nav {
position: fixed;
top: 2em;
width: 100%;
}
    body > nav label {
    display: block;
    width: 2em;
    height: 2em;
    margin-top: -2em;
    padding-top: .5em;
    }
        body > nav label svg {
        fill: white;
        }
    body > nav > div {
    display: none;
    width: 85%;
    max-width: 23em;
    box-shadow: .5em 1em 1em black;
    }
        body > nav input#menu:checked + div {
        display: block;
        }

body > article {
margin-left: 0;
}