
@media (max-width: 900px) {

    h1 {
    font-size: 1.5em;
    }
    h2 {
    font-size: 1.2em;
    }
    h3 {
    font-size: 1em;
    }
    body:not(.fullscreen) > header h1 {
    margin-left: 1.5em;
    }
    body > header h2 {
    display: none;
    }
    body.bicycle article h1 {
    margin-left: 1em;
    }

    body > nav {
    position: fixed;
    top: .45em;
    left: .5em;
    float: none;
    width: auto;
    z-index: 2;
    }
        body > nav button {
        display: block;
        width: 2em;
        height: 2em;
        padding: 0;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.8);
        }
            body > nav button svg {
            fill: currentColor;
            shape-rendering: crispEdges;
            }
        body > nav > div {
        display: none;
        position: fixed;
        min-height: min-content;
        margin-top: .5em;
        padding-top: .5em;
        width: 90%;
        max-width: 23em;
        border: none;
        box-shadow: .5em .5em .5em 0 rgba(0,0,0,0.9);
        //margin-left: -.5em;
        }
            body > nav:focus-within > div {
            display: block;
            }

    body > article {
    margin-left: 0;
    padding: 0 .5em;
    }
        body > article header {
        padding-bottom: .5em;
        }

    article section#child_pages nav, article section#gallery nav {
    grid-column-gap: .5em;
    }

    body.fullscreen a.next, body.fullscreen a.prev {
    display: none !important;
    }
}