@use "global" as *;
@forward "global";

@font-face {
    font-family: "fira";
    src: local("Fira Sans");
    src: local("FiraSans-Regular");
    src: local("Fira Sans Regular");
    src: url("firasans-regular-cwo.woff2") format("woff2"),
         url("firasans-regular-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "fira-light";
    src: local("Fira Sans Light");
    src: local("FiraSans-Light");
    src: url("firasans-light-cwo.woff2") format("woff2"),
         url("firasans-light-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "fira-code";
    src: local("Fira Code");
    src: local("FiraCode-Regular");
    src: local("Fira Code Regular");
    src: url("firacode-regular-cwo.woff2") format("woff2"),
         url("firacode-regular-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
font-family: "Fira Sans", "fira";
background-color: $colour-bg;
color: $text_colour;
font-size: 120%;
// font-size: clamp(3rem, 25vmin, 8rem)
line-height: 1.2em;
display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: 19em 1fr;
grid-template-areas: 
"header header"
"nav main"
"footer footer";
}

h1, h2, h3 {
font-family: "Fira Sans Light", "fira-light";
font-weight: normal; 
margin: 0;
margin-bottom: .5em;
}
    h1 {
    font-size: 2em;
    }
    h2 {
    font-size: 1.5em;
    }
p {
margin: 0;
margin-bottom: 1em;
}
a {
color: $blue;
text-decoration: none;
}
        a:visited, a:active {
        color: $green;
        }
b {
font-weight: bolder;
}
form {
display: flex;
flex-direction: column; 
}
input, textarea {
width: 100%;
}
    input[type=checkbox] {
    width: auto;
    }
label {
display: block;
}
option {
}
textarea, select, option, input, button {
font-family: "Fira Sans", "fira";
font-size: 1em;
}
textarea, select, option, input:not([type=button],[type=submit]) {
padding: .5em;
color: $text_colour;
background-color: $colour-bg-dark;
border: 1px solid $darker;
}
button, input[type=submit], input[type=button], a.button {
display: block;
padding: .5em;
border: none;
border-radius: .2em;
background-color: $blue;
color: black;
text-align: center;
cursor: pointer;
}
    button:hover, input[type=submit]:hover, input[type=button]:hover, a.button:hover {
    background-color: lighten($blue, 10%);
    }
    button.yes, input[type=submit].yes, input[type=button].yes, a.button.yes {
    background-color: $green;
    }
        button.yes:hover, input[type=submit].yes:hover, input[type=button].yes:hover, a.button.yes:hover {
        background-color: lighten($green, 10%);
        }
    button.no, input[type=submit].no, input[type=button].no, a.button.no {
    background-color: $orange;
    }
        button.no:hover, input[type=submit].no:hover, input[type=button].no:hover, a.button.no:hover {
        background-color: lighten($orange, 10%);
        }

body > header {
grid-area: header;
padding: .5em 0;
}

body > nav {
grid-area: nav;
background-color: $colour-bg-dark;
padding: .5em;
border-radius: 1em;
}
    nav ul {
    list-style-type: none;
    padding: 0;
    }
        nav ul ul {
        padding-left: .7em;
        }
            nav ul ul ul {
            padding-left: 1.2em;
            }
    nav ul li  {
    padding: 0;
    margin: 0;
    }
        nav ul li div {
        height: 1.6em;
        line-height: 1.6em;
        }
            nav ul li div > svg { 
            float: left;
            height: 100%;
            width: auto;
            fill: $darker;
            }
            nav ul li a svg {
            fill: currentColor;
            vertical-align: text-bottom;
            margin-left: .1em;
            }
        nav ul li.current > div a, nav ul li a:hover {
        color: white;
        }

body > footer {
grid-area: footer;
margin-top: 1em;
background-color: $colour-bg-dark;
padding: .5em;
border-radius: 1em;
}

// TODO: Stylelint
article {
grid-area: main;
padding: 1em;
}
