@use "global" as *;

@font-face {
    font-family: "fira";
    src: local("Fira Sans");
    src: local("FiraSans-Regular");
    src: local("Fira Sans Regular");
    src: url("firasans-regular-cwo.woff2") format("woff2"),
         url("firasans-regular-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "fira-light";
    src: local("Fira Sans Light");
    src: local("FiraSans-Light");
    src: url("firasans-light-cwo.woff2") format("woff2"),
         url("firasans-light-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "fira-code";
    src: local("Fira Code");
    src: local("FiraCode-Regular");
    src: local("Fira Code Regular");
    src: url("firacode-regular-cwo.woff2") format("woff2"),
         url("firacode-regular-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
min-height: 100vh;
margin: 0;
background-color: $colour-body-bg;
color: $colour-text;
font-family: $font-family-body;
font-size: 110%;
line-height: 1.25em;
text-shadow: 1px 1px 1px $text-shadow-colour;
}

body > header {
display: flex;
position: relative;
align-items: center;
min-height: 3em;
padding: 0 .5em;
border-bottom: 1px solid $colour-edges;
background-color: $colour-bg;
box-shadow: 0 0 .5em .5em $shadow-colour;
z-index: 1;
}

main {
max-width: 60em;
margin: 0 auto;
box-shadow: 0 0 2em 2em $shadow-colour;
}

article {
background-color: $colour-bg;
}

p.notice, p.alert {
position: sticky;
top: 0;
height: 1.2em;
margin: 0 -1em;
margin-bottom: -2em;
padding: .35em .5em;
color: $colour-button-text;
animation: hyperjump .3s ease-in 8s forwards;
// TODO: delay sibling animations by a further n seconds
z-index: 2;
}
    p.notice {
    background-color: $green;
    }
    p.alert {
    background-color: $orange;
    }
    
@keyframes hyperjump {
from {transform: scaleX(1) scaleY(1);}
50% {transform: scaleX(1) scaleY(.3);}
to {transform: scaleX(0) scaleY(0); filter: blur(10px); color: white; background-color: white;}
}

h1, h2, h3 {
margin: 0;
margin-bottom: .5em;
//text-wrap: balance;
font-family: $font-family-heading;
//font-weight: normal;
font-weight: 100;
}
    h1 {
    font-size: 2em;
    line-height: 1em;
    }
    h2 {
    font-size: 1.5em;
    line-height: 1em;
    }
p {
margin: 0;
margin-bottom: 1em;
}
a {
color: $blue;
text-decoration: none;
}
        a:visited, a:active {
        color: $green;
        }
        *:focus-visible {
        outline: 2px $orange dashed;
        outline-offset: 1px;
        }
b {
font-weight: bolder;
}
dl {

max-width: min-content;
}
    dt {
    margin-bottom: .5em;
    border-bottom: 1px dotted $colour-text;
    font-family: $font-family-heading;
    }
    dd {
    margin-bottom: 1em;
    margin-left: 0;
    padding: 0 .5em;
    }

label {
display: block;
}
option {
}
textarea, select, option, input, button {
font-family: $font-family-body;
font-size: 1em;
}
textarea, select, option, input:not([type=button],[type=submit],[type=checkbox],[type=radio]) {
box-sizing: border-box;
width: 100%;
padding: .5em;
border: 1px solid $darker;
background-color: $colour-bg-alt;
color: $colour-text;
}
    textarea:valid, select:valid, input:valid {
    //border: 1px solid $green;
    }
    // TODO: use :invalid along with ~ (subsequent-sibling) to make a form appear in stages
    textarea:user-invalid, select:user-invalid, input:user-invalid {
    border-color: $orange;
    }
button, input[type=submit], input[type=button], a.button, body > nav label {
display: block;
padding: .5em;
border: none;
border-radius: .2em;
background-color: $blue;
color: $colour-button-text;
text-align: center;
cursor: pointer;
}
    button:hover, input[type=submit]:hover, input[type=button]:hover, a.button:hover {
    background-color: lighten($blue, 10%);
    }
    button.yes, input[type=submit].yes, input[type=button].yes, a.button.yes {
    background-color: $green;
    }
        button.yes:hover, input[type=submit].yes:hover, input[type=button].yes:hover, a.button.yes:hover {
        background-color: lighten($green, 10%);
        }
    button.no, input[type=submit].no, input[type=button].no, a.button.no {
    background-color: $orange;
    }
        button.no:hover, input[type=submit].no:hover, input[type=button].no:hover, a.button.no:hover {
        background-color: lighten($orange, 10%);
        }

    button:disabled, input[type=submit]:disabled, input[type=button]:disabled, a.button.disabled {
    background-color: $gray;
    cursor: default;
    }

details {
    margin-bottom: 1em;
    summary {
    margin-bottom: .5em;
    }
    p, table {
    margin-bottom: .8em;
    margin-left: 2em;
    }
    p + div {
    margin-bottom: .5em;
    }
    p:has(code) {
    margin-bottom: 1em;
    }
    p:has(+ div) {
    margin-bottom: 0;
    }
    div.highlighter-rouge {
    width: min-content;
    margin-left: 2em;
    }
    table.rouge-table {
    margin-right: 2em;
    margin-bottom: .5em;
    margin-left: .5em;
    }
    div.highlighter-rouge + p {
    margin-bottom: .2em;
    }
    pre.highlight {
    margin: 0;
    padding: 0;
    }
}

body > header, body > article, body > footer {
box-sizing: border-box;
}
