@use "shared" as *;

body.bicycle {
background-image: url("bicycle.png");
}

body > header {
position: fixed;
width: 100%;
}
	body > header nav {
	}
		body > header form, body > header nav {
		float: left;
		}
		body > header button, body > header a.button {
		display: inline-block;
		margin-right: .5em;
		}

main {
padding-top: 3em;
}

article {
padding: .5em;
background-color: $colour-bg;
//border-radius: 1em;
}

body.images.edit article img {
width: 100px;
}

body.pages.index table {
box-sizing: border-box;
table-layout: fixed;
border-spacing: 0;
width: 100%;
max-width: 40em;
//margin: 0 auto;
}
	body.pages.index table tr:nth-child(odd) {
	}
	body.pages.index table td {
	width: 2em;
	padding: .2em;
	border-bottom: 1px dashed $colour-edges;
	white-space: nowrap;
	}
	body.pages.index table td.status {
	width: 1.08em; //19px
	padding: 0;
	}
	body.pages.index table td:first-child {
	width: 100%;
	}
	body.pages.index table tr:last-child td {
	border: none;
	}
	body.pages.index table td a {
	display: block;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	}
	body.pages.index table svg {
	margin-top: .2em;
	margin-bottom: -.2em;
	fill: currentColor;
	//shape-rendering: crispEdges;
	}
	body.pages.index table form {
	display: inline-block;
	}
	body.pages.index table button {
	width: 2em;
	height: 2em;
	padding: .2em;
	}

//@import "mobile"
