
$colour-bg: #1F2F43;
$colour-bg-dark: darken($colour-bg, 5%);


@font-face {
    font-family: "fira";
    src: url("firasans-regular-cwo.woff2") format("woff2"),
         url("firasans-regular-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "fira-xbi";
    src: url("firasans-extrabolditalic-cwo.woff2") format("woff2"),
         url("firasans-extrabolditalic-cwo.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: "fira-light";
    src: url("firasans-light-cwo.woff2") format("woff2"),
         url("firasans-light-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "fira-code";
    src: url("firacode-regular-cwo.woff2") format("woff2"),
         url("firacode-regular-cwo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
font-family: "Fira Sans", "fira";
background-color: $colour-bg;
color: #C1BEB3;
font-size: 100%;
display: grid;
grid-template-columns: [nav] 20em [main] 1fr [end];
}
h1 {
font-family: "Fira Sans ExtraBold", "fira-xbi";
font-weight: normal; 
font-style: italic;
}
h2 {
font-family: "Fira Sans Light", "fira-light";
font-weight: normal; 
}
p {
margin: 0;
margin-bottom: 1em;
}
a {
color: #259CC8;
text-decoration: none;
}
        a:visited, a:active {
        color: #4ABB32;
        }

form {
display: flex;
flex-direction: column; 
}
input, textarea {
width: 100%;
}
textarea {
height: 100%;
}
label {
display: block;
}
    label input {
    float: left;
    width: auto;
    }


nav {
grid-area: nav;
background-color: $colour-bg-dark;
}

article {
grid-area: main;
padding: 1em;
}

pre.highlight {
padding: 1em;
overflow: auto;
font-family: "Fira Code", "fira-code";
background-color: $colour-bg-dark;
}
    pre pre {
    float: left;
    margin-right: 1em;
    }
    pre.lineno {
    color: #C1BEB3;
    }
