@use "shared" as *;
@use "monokai";

body > header {
display: flex;
align-items: center;
// TODO: annoyingly arbitrary units below! 
min-height: 2.2em;
margin-bottom: .4em;
}

body > header h1 {
font-family: "Fira Code", "fira-code";
font-size: clamp(1em, 8vw, 2em);
margin: 0;
width: min-content;
}
    body > header h1 a {
    display: block;
    color: transparent;
    background: linear-gradient(75deg, $orange 0 90%, white 95%, $orange 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0%;
    }
        body > header h1 a:hover {
        animation: swish 3s infinite linear;
        }
            @keyframes swish {
            30% { background-position: -150%; }
            100% { background-position: -150%; }
            }
        body > header h1 a:active {
        color: lighten($orange, 10%);
        }

body > nav {
position: sticky; 
top: .5em;
float: left;
width: 20em;
}
    body > nav label, body > nav input#menu {
    display: none;
    }
    body > nav > div {
    margin: 0;
    padding: .5em;
    background-color: $colour-bg-dark;
    //border-radius: 1em;
    // TODO: make this minimum 100% of page height 
    min-height: 100vh;
    margin-bottom: 8.5em;
    }
        body > nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
            body > nav ul ul {
            padding-left: .7em;
            }
                body > nav ul ul ul {
                padding-left: 1.2em;
                }
        body > nav ul li  {
        padding: 0;
        margin: 0;
        }
            body > nav ul li div {
            height: 1.6em;
            line-height: 1.6em;
            }
                body > nav ul li div > svg { 
                float: left;
                height: 100%;
                width: auto;
                fill: $darker;
                }
                body > nav ul li a {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
                body > nav ul li a svg {
                fill: currentColor;
                vertical-align: text-bottom;
                margin-left: .1em;
                }
            body > nav ul li.current > div a, body > nav ul li a:hover {
            color: white;
            }

article {
padding-top: 1em;
margin-left: 20em;
padding: 0 .5em;
overflow: hidden;
}
    article > header {
    display: flex;
    height: 15vw;
    min-height: 7.5em;
    margin-bottom: 1em;
    overflow: hidden;
    padding: .5em;
    background-color: $colour-bg-dark;
    background-position: 50% 25%;
    }
        article > header > div {
        align-self: end;
        }
        article > header h1, article > header h2 {
        float: left;
        clear: left;
        padding: 1px 4px 5px 4px;
        background-color: rgba(0,0,0,0.75);
        }
            article > header h1 {
            margin: 0;
            }

    article section.abstract {
    font-weight: bolder;
    }
	article p img {
	float: left;
	clear: left;
	width: 12em;
	margin-right: .5em;
	}
	article form {
	max-width: 20em;
	}
	article p.date {
	font-size: .8em;
	}
	    article p.date span {
	    display: block;
	    }
    article section#child_pages {
    // TODO: crop banner
    }
        article section#child_pages nav {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
        }
            article section#child_pages nav a {
            display: block;
            max-width: 20em;
            }
                article section#child_pages nav a img {
                width: 100%;
                aspect-ratio: 2.33 / 1;
                background-color: $colour-bg-dark;
                }
                article section#child_pages nav a p {
                // TODO: line-clamp for linked sub-pages abstract
                margin: 0;
                }
    article section#gallery {
    // TODO: handle different aspect ratios (based on image.image_file.width/height)
    // TODO: and do the same for inline images (so the layout can be precomputed)
    }
        article section#gallery nav {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
        }
            article section#gallery nav a {
            display: block;
            max-width: 20em;
            }
                article section#gallery nav a figure {
                width: 100%;
                margin-bottom: 1em;
                }
                article section#gallery nav a figure img {
                width: 100%;
                aspect-ratio: 1 / 1;
                background-color: $colour-bg-dark;
                }
                article section#gallery nav a figure p {
                margin: 0;
                }

body > footer {
clear: left;
height: 8em;
margin-top: 3em;
background-color: $colour-bg-dark;
padding: .5em;
// border-radius: 1em;
}

figure {
margin: 0;
}

pre.highlight {
padding: 1em;
overflow: auto;
overflow-x: scroll;
clear: left;
font-family: "fira-code";
background-color: $colour-bg-dark;
}
    pre.highlight {
    //display: table;
    }
    pre pre {
    display: table-cell;
    
    }
    pre.lineno {
    color: #C1BEB3;
    }

ul.address {
list-style-type: none;
}

@import "mobile"