@use "shared" as *;
@use "monokai";

body > header {
display: flex;
align-items: center;
// TODO: annoyingly arbitrary units below! 
min-height: 3em;
padding: 0 .5em;
//background: linear-gradient(180deg, $colour-bg 0%, $colour-bg-alt 50%, $colour-bg 100%);
box-shadow: 0 0 .5em .5em rgba(0,0,0,0.75);
border-bottom: 1px solid black;
position: relative;
z-index: 1;
}

body > header h1 {
font-family: "Fira Code", "fira-code";
font-size: clamp(1em, 8vw, 2em);
margin: 0;
width: min-content;
}
    body > header h1 a {
    display: block;
    padding-top: 2px;
    color: transparent;
    background: linear-gradient(75deg, $orange 0 90%, white 95%, $orange 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0%;
    // TODO: why did tabbing into the opened menu stop working? 
    }
        body > header h1 a:hover, body > header h1 a:focus {
        animation: swish 3s infinite linear;
        }
            @keyframes swish {
            30% { background-position: -150%; }
            100% { background-position: -150%; }
            }
        body > header h1 a:active {
        color: lighten($orange, 10%);
        }
    body > header h2 {
    margin: 0;
    margin-left: auto;
    }

body > nav {
position: sticky; 
top: 0;
float: left;
width: 25vw;
}
    body > nav button {
    display: none;
    }
    body > nav > div {
    margin: 0;
    padding: .5em;
    padding-top: 1em;
    background-color: $colour-bg-alt;
    //border-radius: 1em;
    min-height: 100vh;
    margin-bottom: 8em;
    border-right: 1px solid black;
    }
        body > nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
            body > nav ul ul {
            padding-left: .7em;
            }
                body > nav ul ul ul {
                padding-left: 1.2em;
                }
        body > nav ul li  {
        padding: 0;
        margin: 0;
        }
            body > nav ul li div {
            height: 1.8em;
            line-height: 1.8em;
            }
                body > nav ul li div > svg { 
                float: left;
                height: 100%;
                width: auto;
                fill: $darker;
                //shape-rendering: crispEdges;
                }
                body > nav ul li a {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                }
                body > nav ul li a svg {
                fill: currentColor;
                vertical-align: text-bottom;
                margin-left: .1em;
                //shape-rendering: crispEdges;
                }
            body > nav ul li.current > div a, body > nav ul li a:hover {
            color: $colour-text;
            }

article {
padding-top: 1em;
margin-left: 25vw;
padding: 0 1em;
overflow: hidden;
}
    article > header {
    display: flex;
    height: 15vw;
    min-height: 7.5em;
    margin: 0 -1em 1em -1em;
    overflow: hidden;
    padding: 1em;
    background-color: $colour-bg-alt;
    background-position: 50% 10%;
    }
        article > header > div {
        align-self: end;
        }
        article > header h1, article > header h2 {
        float: left;
        clear: left;
        padding: .2em;
        //padding: .2em;
        background-color: rgba(0,0,0,0.75);
        }
            article > header h1 {
            margin: 0;
            line-height: .8em;
            padding-bottom: .3em;
            }
            article > header h2 a {
            display: block;
            line-height: .8em;
            padding-bottom: .2em;
            //margin-top: .2em;
            }

    article section.abstract {
    font-weight: bolder;
    }
	article p img {
	float: left;
	clear: left;
	width: 12em;
	margin-right: .5em;
	}
	article form {
	max-width: 20em;
	}
	article p.date {
	font-size: .8em;
	}
	    article p.date span {
	    display: block;
	    }
    article section#child_pages {
    // TODO: crop banner
    }
        article section#child_pages nav {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(9em, 2fr));
        }
            article section#child_pages nav a {
            display: block;
            max-width: 20em;
            margin-bottom: 3px; //focus-visible outline
            }
                article section#child_pages nav a img {
                width: 100%;
                //aspect-ratio: 2.33 / 1; // now inline
                background-color: $colour-bg-alt;
                }
                article section#child_pages nav a p {
                // TODO: line-clamp for linked sub-pages abstract
                margin: 0;
                }
    article section#gallery {
    // TODO: handle different aspect ratios (based on image.image_file.width/height)
    // TODO: and do the same for inline images (so the layout can be precomputed)
    }
        article section#gallery nav {
        display: grid;
        grid-column-gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(9em, 2fr));
        }
            article section#gallery nav a {
            display: block;
            max-width: 20em;
            margin-bottom: 3px; //focus-visible outline
            }
                article section#gallery nav a figure {
                width: 100%;
                margin-bottom: 1em;
                }
                article section#gallery nav a figure img {
                width: 100%;
                aspect-ratio: 1 / 1;
                background-color: $colour-bg-alt;
                }
                article section#gallery nav a figure p {
                margin: 0;
                }

body.fullscreen {
}
    body.fullscreen > header a.back {
    display: block;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    padding: 0;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.8);
    }
        body.fullscreen > header a.back svg {
        fill: currentColor;
        //shape-rendering: crispEdges;
        }

    body.fullscreen article {
    margin-left: 0;
    padding: 0;
    }
    body.fullscreen article > figure {
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
    }
            body.fullscreen article > figure img {
            height: 92vh;
            max-height: 600px;
            //width: 100%;
            // object-fit: contain;
            // object-position: top;
            }
                body.fullscreen article > figure:not(:hover) ~ a.next, body.fullscreen article > figure:not(:hover) ~ a.prev {
                display: block;
                // TODO: we could animate these, and other similar show/hide things (e.g. the menu)
                }
        body.fullscreen article > figure figcaption {
        display: block;
        }
        body.fullscreen article > figure figcaption, body.fullscreen article > figure p, body.fullscreen article > figure details {
        margin: 1em;
        }
    body.fullscreen a.next, body.fullscreen a.prev {
    // TODO: button/svg definitions are a MESS; sort it out.
    display: none;
    position: absolute;
    top: 50%;
    width: 1.5em;
    height: 1.5em;
    padding: .3em;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.8);
    }
        body.fullscreen a.next {
        right: .5em;
        }
        body.fullscreen a.prev {
        left: .5em;
        }
    body.fullscreen article section {
    margin: 1em;
    }


body > footer {
clear: left;
height: 8em;
margin-top: 3em;
background-color: $colour-footer;
padding: .5em;
// border-radius: 1em;
border-top: 1px solid black;
}

figure {
margin: 0;
}

pre.highlight {
padding: 1em;
overflow: auto;
overflow-x: scroll;
clear: left;
font-family: "fira-code";
background-color: $colour-bg-alt;
}
    pre.highlight {
    //display: table;
    }
    pre pre {
    display: table-cell;
    
    }
    pre.lineno {
    color: #C1BEB3;
    }

ul.address {
list-style-type: none;
}

@import "mobile"