<nav>
  <label for="menu">
    <%= svg_icon("menu") %>
  </label>
  <input type="checkbox" id="menu"/>
  <div>
    <ul>
    <% Page.roots.live.each do |page| %>
      <%= render partial: "menu_tree", locals: {page: page} %> 
    <% end %>
    </ul>
  </div>
</nav>