<% cache ["menu",@page], skip_digest: true do %>
  <nav>
    <button id="menu" aria-label="<%= t("menu") %>" tabindex="1">
      <%= svg_icon("menu") %>
    </button>
    <div>
      <%# <search>
        <form action="">
          <input type="text" name="q" />
        </form>
      </search> %>
      <% # TODO: use <menu> tag? %>
      <% # TODO: leverage self_and_descendants to reduce db queries %>
      <ul>
        <%= render partial: "menu_tree", collection: Page.roots.live.in_menu, as: :page %>
      </ul>
    </div>
  </nav>
<% end %>