<nav>
  <button>
    <%= svg_icon("menu") %>
  </button>
  <div>
    <% # TODO: use <menu> tag %>
    <ul>
    <% Page.roots.live.in_menu.each do |page| %>
      <%= render partial: "menu_tree", locals: {page: page} %> 
    <% end %>
    </ul>
  </div>
</nav>