<% cache ["menu",@page], skip_digest: true do %>
  <nav>
    <button tabindex="1">
      <%= svg_icon("menu") %>
    </button>
    <div>
      <% # TODO: use <menu> tag? %>
      <% # TODO: leverage self_and_descendants to reduce db queries %>
      <ul>
        <%= render partial: "menu_tree", collection: Page.roots.live.in_menu, as: :page %>
      </ul>
    </div>
  </nav>
  <search>
    <form action="">
    </form>
  </search>
<% end %>